/******************************************
*  Author : brxvn
*  Created On : Tue Oct 05 2021
*  File : style.css
*******************************************/
* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

:root {
  --color-primary: #88bdbc;
  --color-secondary: #254e58;
  --color-tertiary: #112d32;
  --color-quaternary: #4f4a41;
  --color-quinary: #6e6658;
  --color-hover: #254e5883;
}

html {
  font-size: 62.5%;
}

body{
  background-color: var(--color-primary);
  font-family: 'Open Sans', sans-serif;
}
.header-title {
  background-color: var(--color-secondary);
  height: 10vh;
  color: antiquewhite;
  font-weight: bold;
  padding: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}