/******************************************
*  Author : brxvn
*  Created On : Tue Oct 05 2021
*  File : style.css
*******************************************/
* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

:root {
  --color-primary: #88bdbc;
  --color-secondary: #254e58;
  --color-tertiary: #112d32;
  --color-quaternary: #4f4a41;
  --color-quinary: #6e6658;
  --color-hover: #254e5883;
}

html {
  font-size: 62.5%;
}

body{
  background-color: var(--color-primary);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-width: 300px;
}

.header {
  width: 100%;
  min-width: 300px;
}

.header-title {
  font-size: 1.8rem;
  background-color: var(--color-secondary);
  height: 20%;
  color: antiquewhite;
  font-weight: bold;
  padding: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  font-size: 1.8rem;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-title{
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: var(--color-quaternary); 
  margin: 1rem;
}

.c1, .c2, .c3{
  width: auto;
  margin: 2rem;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container a {
  color: antiquewhite;
  text-decoration: none;
  border: 2px solid var(--color-tertiary);
  border-radius: 5px;
  background-color: var(--color-tertiary);
  padding: .5rem;
}

a:hover {
  background-color: var(--color-hover);
}
